.home-body{
    background-color: coral;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.home-list{
    list-style: none;
    
}

.home-list li{
    display: inline-block;
    margin-right: 10px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 3px;
}

.home-list li:hover{
    background-color: rgb(236, 209, 209);
}

.home-list a{
    text-decoration: none;
}

/* AMALA STYLING*/
.amala-body{
    background-color: indianred;
}

.amala-body h1, .amala-body h2, .amala-body h3 {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* LASAGNA STYLING*/
.lasagna-body {
    background-color: lightseagreen;
}

.lasagna-body h1, .lasagna-body h2, .lasagna-body h3 {
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lasagna-body h1 {
    text-align: center;
    text-decoration: underline;
}

/* JOLLOF RICE STYLING*/