.home-body{
    background-color: coral;
}

/* AMALA STYLING*/
.amala-body{
    background-color: indianred;
}

.amala-body h1, .amala-body h2, .amala-body h3 {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* LASAGNA STYLING*/
.lasagna-body {
    background-color: lightseagreen;
}

.lasagna-body h1, .lasagna-body h2, .lasagna-body h3 {
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lasagna-body h1 {
    text-align: center;
    text-decoration: underline;
}

/* JOLLOF RICE STYLING*/